Options +FollowSymlinks
RewriteEngine On    # Turn on the rewriting engine

#user
RewriteRule ^login index.php [NC,L]
RewriteRule ^signup index.php?login=signup [NC,L]

#catalog.php -- recipe operation
RewriteRule ^catalog catalog.php [NC,L]
RewriteRule ^create catalog.php?process=create [NC,L]
RewriteRule ^edit/([0-9]+)$ catalog.php?process=edit&id=$1 [NC,L]
RewriteRule ^delete/([0-9]+)$ catalog.php?process=delete&id=$1 [NC,L]

#Query
RewriteRule ^api/list/([0-9]*)$ api.php?process=list&uid=$1 [NC,L]
RewriteRule ^api/edit/([\w\s-,+]+)/([\w\s-,+]+)/([0-9]+) api.php?process=edit&name=$1&recipe=$2&id=$3 [NC,L]
RewriteRule ^api/recipe/([0-9]*)$ api.php?process=recipe&id=$1 [NC,L]
RewriteRule ^api/create/([\w\s-,+]+)/([\w\s-,+]+)/([\w\s-,+^/\.]+)/([0-9]+) api.php?process=create&name=$1&recipe=$2&image=$3&uid=$4 [NC,L]
RewriteRule ^api/delete/([0-9]*)$ api.php?process=delete&id=$1 [NC,L]
RewriteRule ^api/login/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) api.php?process=login&login=$1&password=$2 [NC,L]
RewriteRule ^api/signup/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) api.php?process=signup&firstname=$1&lastname=$2&login=$3&password=$4 [NC,L]